<%- include('./header.ejs') %>
<div class="container">
    <div class="col-md-12">
         <img src="<%= data.featured_image %>" alt="">
    </div>
    <span style="display:block"><%= data.body %> </span>
    

</div>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut voluptate blanditiis id excepturi ipsa, incidunt nemo quam reiciendis minus optio, odit eveniet quisquam, cum ullam illum fugit placeat modi quae!