<%- include('./header.ejs') %>
  <body>
    <nav class="navbar navbar-light bg-light mb-2">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Blogger</span>
      </div>
    </nav>
    <div class="container">
      <div class="row" style="margin-top:6rem">
        <h4>Blogs</h4>
        <% data.forEach(blog =>{ %>
        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img src="<%= blog.featured_image %>" class="card-img-top" alt="...">
              <h5 class="card-title"><a href="/blog/<%= blog.slug %>"><%= blog.title %></a></h5>
            </div>
          </div>
        </div>
      <%}) %>
      </div>
    </div>
  </body>
</html>
