<%- include('./header.ejs') %>
    <div class="container-fluid">
        <main class="tm-main">         
            <div class="row tm-row">
                <div class="col-12"
                   
                    <img width="954" height="535" class="tm-mb-40" src="<%= data.featured_image %>">
                    </img>

                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title"><%= data.title %></h2>
                        <p class="tm-mb-40"></p>
                        <p>
                            Duis pretium efficitur nunc. Mauris vehicula nibh nisi. Curabitur gravida neque
                            dignissim, aliquet nulla sed, condimentum nulla. Pellentesque id venenatis
                            quam, id cursus velit. Fusce semper tortor ac metus iaculis varius. Praesent
                            aliquam ex vel lectus ornare tristique. Nunc et eros quis enim feugiat tincidunt
                            et vitae dui.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>