<%- include(./header.ejs)
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                    <video width="954" height="535" controls class="tm-mb-40">
                        <source src="video/wheat-field.mp4" type="video/mp4">							  
                        Your browser does not support the video tag.
                    </video>

                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title">Single Post of Xtra Blog HTML Template</h2>
                        <p class="tm-mb-40">June 16, 2020 posted by Admin Nat</p>
                        <p>
                            Duis pretium efficitur nunc. Mauris vehicula nibh nisi. Curabitur gravida neque
                            dignissim, aliquet nulla sed, condimentum nulla. Pellentesque id venenatis
                            quam, id cursus velit. Fusce semper tortor ac metus iaculis varius. Praesent
                            aliquam ex vel lectus ornare tristique. Nunc et eros quis enim feugiat tincidunt
                            et vitae dui.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>